p {
    margin: 10px;
    color: blue;
}

img {
    height: 100px;
    width: 100px;
}

a {
    margin: 20px;
    text-align: center;
}

#especial {
    color: red;
    text-align: center;
    font-size: 50px;
}

h1 {
    text-align: center;
}